.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
C/modules/bin/zero_pad_test
C/modules/include/createTensor.h
C/modules/include/readWriteTensorsFromStandardIO.h
C/modules/include/zero_padding.h
C/modules/obj/createTensor.o
C/modules/obj/mempool.o
C/modules/obj/readWriteTensorsFromStandardIO.o
C/modules/obj/tensor.o
C/modules/obj/zero_pad_test.o
C/modules/obj/zero_pad.o
C/modules/src/readWriteTensorsFromStandardIO.c
C/modules/src/zero_pad_tensor.c
C/modules/util/a.csv
C/modules/util/b.csv
C/modules/util/zero_pad_tensor_test.c
C/modules/include/createTensor.h
C/modules/include/readWriteTensorsFromStandardIO.h
C/modules/include/zero_padding.h
C/modules/obj/createTensor.o
C/modules/obj/mempool.o
C/modules/obj/tensor.o
C/modules/src/readWriteTensorsFromStandardIO.c
C/modules/src/zero_pad_tensor.c
C/modules/util/zero_pad_tensor_test.c
.vscode/c_cpp_properties.json
students/Ajinkya_Zero_padding/hw/zeropad_hw/hw_aman_single_thread/vhpi.log

